  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
 * {
     margin: 0;
     padding: 0;
 }
 /* #FCF7F8 – snow
#FFC5CD – l.pink
#A2989A – mid grey
#2F2D2D – charc
#000000 -- black
 */
 
 body {
     background-color: #0e0d0d;
     color: #FCF7F8;
     display: grid;
     grid-template-areas: "header" "nav" "main" "footer";
     grid-template-rows: auto auto auto 200px;
     overflow-x: hidden;
     position: relative;
 }
 
 .header {
     background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.00), rgba(0, 0, 0, 1)), url(https://media.discordapp.net/attachments/754655109312675872/987790994323931217/IMG_2200.png);
     height: 60vh;
     background-color: #A2989A;
     padding-left: 30px;
     font-size: 30px;
     display: flex;
 }
 
 #heading {
     align-self: flex-end;
     font-family: 'Special Elite', cursive;
     grid-area: header;
 }
 
 .txt-type {
     font-family: 'Special Elite', cursive;
 }
 
 .navbar {
     background-color: #000000;
     color: #FCF7F8;
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     font-family: 'Barriecito', cursive;
     font-size: 30px;
     grid-area: nav;
     z-index: 100;
 }
 
 .content {
     padding-left: 16px;
 }
 
 .sticky {
     position: fixed;
     top: 0;
     width: 100%
 }
 
 .txt-type>.txt {
     border-right: 0.2rem solid #FFC5CD;
     animation: blinker 1s linear infinite;
 }
 
 @keyframes blinker {
     from,
     to {
         border-color: transparent
     }
     50% {
         border-color: #FFC5CD;
     }
 }
 
 #pfp {
     justify-self: start;
     background-color: #FFC5CD;
     grid-area: pfp;
     height: 20em;
     width: 20em;
     align-self: center;
     border: 6px solid #000000;
     box-shadow: rgba(255, 197, 205, 0.4) 5px 5px, rgba(255, 197, 205, 0.3) 10px 10px, rgba(255, 197, 205, 0.2) 15px 15px, rgba(255, 197, 205, 0.1) 20px 20px, rgba(255, 197, 205, 0.05) 25px 25px;
     border-radius: 15px;
     z-index: 10;
 }
 
 #content {
     display: grid;
     justify-content: stretch;
     grid-template-areas: "pfp desc desc" "rundown rundown rundown";
     grid-template-columns: 1fr 1fr 1fr;
     margin-top: 5em;
     row-gap: 4em;
     column-gap: 2em;
     width: 80%;
     margin-left: 7em;
     grid-area: main;
     /* border: 6px solid #000000;
     border-width: 6px;
     border-style: solid;
     border-image: linear-gradient( to bottom, #1f1d1d, #FFC5CD) 1 100%;
     z-index: 9;
     background-image: linear-gradient(to bottom, #0e0d0d, #1f1d1d, #FFC5CD);
     border-bottom-style: none;
     padding: 10px;
     border-top-style: none; */
 }
 
 #desc {
     grid-area: desc;
     justify-self: start;
     align-self: center;
     font-family: 'Barriecito', cursive;
     font-size: 1.4em;
     text-shadow: 0.15em 0.15em #000000;
     border-radius: 15px;
     z-index: 10;
     line-height: 3em;
 }
 
 .footer {
     width: 100vw;
     position: absolute;
     bottom: 0;
 }
 
 #cloud {
     width: 110vw;
     z-index: 1;
     bottom: 190px;
     position: inherit;
 }
 
 #footercontent {
     grid-area: footer;
     z-index: 2;
     background-color: #FFC5CD;
     width: 100vw;
     height: 15em;
 }
 
 .spotify {
     border: 6px solid #000000;
 }
 
 #rundown {
     grid-area: rundown;
     padding: 1em;
     background-color: #fff781;
     color: #2F2D2D;
     border: 6px solid #000000;
     border-radius: 15px;
     font-family: 'Barriecito', cursive;
     font-size: 20px;
     z-index: 10;
 }
 
 a:link {
     color: #A2989A;
     background-color: transparent;
     text-decoration: none;
 }
 
 a:visited {
     color: #FFC5CD;
     background-color: transparent;
     text-decoration: none;
 }
 
 a:hover {
     color: rgb(145, 242, 247);
     background-color: transparent;
 }
 
 a:active {
     color: #fff781;
     background-color: transparent;
 }
 /* kjfner*/
 /* code break */
 
 nav a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     position: relative;
     display: inline-block;
     padding: 10px 40px;
 }
 
 nav a::after {
     content: "";
     background: #FFC5CD;
     height: 1px;
     position: absolute;
     bottom: 0;
     transition: .16s all 0.025s;
 }
 
 nav a::after {
     left: 100%;
     right: 0;
 }
 
 nav a:hover~a::after {
     left: 0;
     right: 100%;
 }
 
 nav a:hover::after {
     left: 0;
     right: 0;
 }
